* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}



/* CONFIGURAÇÃO DOS PADROES DA PAGINA */
/* configuração de cores de fundo */
.cor-fundo-1 {
    background-color: #fcde67;
}

.cor-fundo-2 {
    background-color: #5bccf6;
}

/* configuração de cores de texto */
.cor-texto-1 {
    color: #030e12;
}

.cor-texto-2 {
    color: #fcde67;
}

/* configuração de fonte de titulos */
.fonte-titulo-1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.fonte-texto-1 {
    font-family: 'Cabin Condensed', sans-serif;
}

/* configuração do tamanho dos titulos/textos */
.tamanho-titulo-1 {
    font-size: 3em;
}

.tamanho-titulo-2 {
    font-size: 2em;
}

.tamanho-texto-1 {
    font-size: 1.2em;
}

.tamanho-texto-2 {
    font-size: 3.75em;
}

/* configuração de textos de links sem decoração */
.sem-decoracao {
    text-decoration: none;
}

/* configuração dos blocos da pagina */
.bloco {
    border-radius: 10px;

    width: 100%;
}

.espacamento-1 {
    padding: 25px;
}

.alinhamento-texto-justificado {
    text-align: justify;
}
/* FIM DAS CONFIGURAÇÃO DOS PADROES DO SITE */



/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}



/* CONFIGURAÇÃO DO SEGUNDO BLOCO */
#segundobloco {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

#segundobloco p {
    width: 60%;

    text-align: center;
}

#segundobloco img {
    width: 40%;
}



/* CONFIGURAÇÃO DO TERCEIRO BLOCO */
#terceirobloco {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

#terceirobloco-bloco1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

.terceirobloco-bloco2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}

.terceirobloco-bloco2 img {
    width: 100px;
}



/* CONFIGURAÇÃO DO QUARTO BLOCO */
#quartobloco {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 25px;
}

#quartobloco-bloco1 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}

.quartobloco-bloco2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.quartobloco-bloco2 img {
    width: 100px;
}

.quartobloco-bloco2 span {
    text-align: justify;
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA MEDIA */
@media screen and (max-width: 1000px) {
    /* CONFIGURAÇÃO DO SEGUNDO BLOCO */
    #segundobloco {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: space-between;
        gap: 25px;
    }
    
    #segundobloco p {
        width: 100%;
        margin: 0;
    
        text-align: center;
    }
    
    #segundobloco img {
        width: 100%;
    }



    /* CONFIGURAÇÃO DO TERCEIRO BLOCO */
    #terceirobloco-bloco1 {
        gap: 50px;
    }

    .terceirobloco-bloco2 img {
        width: 150px;
    }



    /* CONFIGURAÇÃO DO QUARTO BLOCO */
    #quartobloco-bloco1 {
        grid-template-columns: auto auto;
    }

    .quartobloco-bloco2 span {
        width: 100%;
    }
}