/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}



/* CONFIGURAÇÃO DO SEGUNDO BLOCO */
#segundobloco {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
}

/* container do grupo */
#segundobloco-bloco1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

/* container individual */
.segundobloco-bloco2 {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;

    /* border: 1px solid #030e12; */
}

/* configuração da imagem e descricao */
.segundobloco-bloco2 img {
    width: 100%;
}



/* CONFIGURAÇÃO DO TERCEIRO BLOCO */
#terceirobloco {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
}

#terceirobloco p {
    text-align: justify;
}

/* container do grupo */
#terceirobloco-bloco1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

/* container individual */
.terceirobloco-bloco2 {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
}

/* configuração da imagem e descricao */
.terceirobloco-bloco2 h2 {
    text-align: justify;
}

.terceirobloco-bloco2 img {
    width: 100%;
}

.terceirobloco-bloco2 span {
    text-align: justify;
}