/* CONFIGURAÇÃO DO PRIMEIRO BLOCO */
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}



/* CONFIGURAÇÃO DO SEGUNDO BLOCO */
#segundobloco {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
}

/* container do grupo */
#segundobloco-bloco1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

/* container individual */
.segundobloco-bloco2 {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;

    border: 1px solid #fcde67;
    box-shadow: 5px 5px #fcde67;
    border-radius: 10px;
    padding: 5px;
}

/* configuração da imagem e descricao */
.segundobloco-bloco2 img {
    width: 100%;
}



/* CONFIGURAÇÃO DO TERCEIRO BLOCO */
#terceirobloco {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;
}

#terceirobloco p {
    text-align: justify;
}

/* container do grupo */
#terceirobloco-bloco1 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
}

/* container individual */
.terceirobloco-bloco2 {
    display: grid;
    grid-template-columns: auto;
    gap: 25px;

    border: 1px solid #fcde67;
    box-shadow: 5px 5px #fcde67;
    border-radius: 10px;
    padding: 5px;
}

/* configuração da imagem e descricao */
.terceirobloco-bloco2 h2 {
    text-align: justify;
}

.terceirobloco-bloco2 img {
    width: 100%;
}

.terceirobloco-bloco2 span {
    text-align: justify;
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA MEDIA */
@media screen and (max-width: 1000px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 2em;
    }

    .tamanho-titulo-2 {
        font-size: 1.2em;
    }

    .tamanho-texto-1 {
        font-size: 1.2em;
    }

    .tamanho-texto-2 {
        font-size: 1.875em;
    }



    /* CONFIGURAÇÃO DOS BLOCOS */
    #segundobloco-bloco1 {
        grid-template-columns: auto auto;
    }

    #terceirobloco-bloco1 {
        grid-template-columns: auto auto;
    }
}



/* CONFIGURAÇÃO DA MOBILIDADE DA PAGINA PEQUENA */
@media screen and (max-width: 600px) {
    /* configuração do tamanho dos titulos/textos */
    .tamanho-titulo-1 {
        font-size: 1.4em;
    }

    .tamanho-titulo-2 {
        font-size: 1em;
    }

    .tamanho-texto-1 {
        font-size: 1em;
    }

    .tamanho-texto-2 {
        font-size: 1.5em;
    }



    /* CONFIGURAÇÃO DOS BLOCOS */
    #segundobloco-bloco1 {
        grid-template-columns: auto;
    }

    #terceirobloco-bloco1 {
        grid-template-columns: auto;
    }
}